*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.altezza{
    height: 100%;
}

/*************
bg-color
*************/
.bg-grigioscuro{
    background-color: rgb(44, 62, 80);
}

.bg-verde{
    background-color: rgb(26, 188, 156);
}



/*************
Header 
*************/
header{
    width: 100%;
    height: 50px;
}

.contenuto-header{
    height: 30px;
    background-color: white;
}



/*************
start bootstrap
*************/

.contenitore-start{
    height: 275px;
    width: 100%;
}

.contenuto-start{
    height: 200px;
    
    background-color: white;
}

